body {
  font-family: Georgia;
  color: #FFFFFF;
  background: #202020;
}

#answer {
  width: 320px;
  border-radius: 13px;
  box-shadow: inset 5px 5px 3px #274360,
  inset -5px -5px 3px #C0DEED;
}

.card {
  display: grid;
  place-items: center;
}

.calc {
  background: #7BAFD4;
  padding: 10px;
  display: inline-block;
  border-radius: 20px;
}

input {
  color: #FFFFFF;
  text-shadow: 3px 3px 3px #274360;
  font-weight: bold;
  font-size: 30px;
  width: 70px;
  height: 60px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 3px #274360,
  -5px -5px 3px #C0DEED;
  background: #7BAFD4;
  outline: none;
}

input:hover {
  box-shadow: inset 5px 5px 3px #274360, inset -5px -5px 3px #C0DEED;
}
